.footerContainer {
  color: var(--sub-primary-color);
  background-color: #464c60;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footerLinksContainer {
  color: var(--sub-primary-color);
  background-color: var(--theme-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-inline: 10rem;
}

.socialContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  gap: 1rem;
  img {
    height: 25px;
    width: 25px;
  }
}

.footerBlock {
  h2 {
    color: var(--primary-color);
  }
  label {
    display: block;
    word-wrap: break-word;
    cursor: pointer;
    margin: 1.5rem 0;
  }
}
.footerLogoContainer {
  img {
    padding: 1rem 0;
    width: 8rem;
    height: auto;
  }
}
